h1 {
	color: #ac162c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
}
h2 {
    display: block;
    font-weight: 700;
    font-size: 15px;
    color: #8e8279;
    padding: 20px 0;
}
p {
    color: #8e8279;
    font-size: 15px;
    text-align: justify;
    line-height: 140%;
}