<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title"><?php echo 'ID: ' . $this->request->data['Depoimento']['id'] .  ' - ' . $this->request->data['Depoimento']['nome'];?></h4>
</div>
<div class="modal-body">
	<div class="depoimentos">
		<?php
		echo $this->Form->create('Depoimento', array('type' => 'file', 'url' => array('controller' => 'depoimentos', 'action' => 'add'), 'class' => 'form-horizontal ', 'role' => 'form'));
			echo $this->Form->input('Depoimento.id');

			if(isset($this->request->data['Depoimento']['arquivo'])){
				?>
				<div class="form-group">
					<label for="DepoimentoArquivo" class="col-sm-1 control-label">Imagem Atual</label>
					<div class="col-sm-11">
						<?php
						echo $this->Html->Image('depoimentos/'.$this->request->data['Depoimento']['arquivo'], array('style' => 'width:150px;'));
						?>
					</div>
				</div>
				<?php
			}
			?>

			<div class="form-group">
				<label for="DepoimentoArquivo" class="col-sm-1 control-label">Foto (150px  x 150px)</label>
				<div class="col-sm-11">
					<?php
					echo $this->Form->input('Depoimento.arquivo', array('type' => 'file', 'class' => 'form-control', 'label' => false, 'div' => false));
					?>
				</div>
			</div>

			<div class="form-group">
				<label for="DepoimentoNome" class="col-sm-1 control-label">Nome</label>
				<div class="col-sm-11">
					<?php
					echo $this->Form->input('Depoimento.nome', array('class' => 'form-control', 'label' => false, 'div' => false));
					?>
				</div>
			</div>

			<div class="form-group">
				<label for="DepoimentoEmpresa" class="col-sm-1 control-label">Empresa</label>
				<div class="col-sm-11">
					<?php
					echo $this->Form->input('Depoimento.empresa', array('class' => 'form-control', 'label' => false, 'div' => false));
					?>
				</div>
			</div>

			<div class="form-group">
				<label for="DepoimentoCargo" class="col-sm-1 control-label">Cargo</label>
				<div class="col-sm-11">
					<?php
					echo $this->Form->input('Depoimento.cargo', array('class' => 'form-control', 'label' => false, 'div' => false));
					?>
				</div>
			</div>

			<div class="form-group">
				<label for="DepoimentoTexto" class="col-sm-1 control-label">Texto</label>
				<div class="col-sm-11">
					<?php
					echo $this->Form->input('Depoimento.texto', array('class' => 'form-control', 'label' => false, 'div' => false));
					?>
				</div>
			</div>

			<br class="clear" />
			<button type="submit" class="btn btn-default waves-effect waves-light btn-md">Salvar</button>
		</form>
	</div>
</div>