body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    letter-spacing: -1.2px;
}
.mobile {
	display: none;
}
.clear {
	clear: both;
}
.navbar {
	padding: 0;
}
.color {
	color: #00919c;
}
.white {
	color: #ffffff !important;
}
.p1 {
	padding-bottom: 5px;
}
#mask {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	top: 0;
	left: 0;
	z-index: 9999;
}
#pop {
	position: fixed;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	background-color: #fff;
	z-index: 99999;
	border-radius: 10px;
    padding: 20px;
}
#pop p {
	text-align: center;
    margin-top: 60px;
    font-size: 20px;
}
#pop p.sucess {
	color: #4a8417;
}
#pop p.error {
	color: #ea664f;
}
header {
	background: rgba(255,255,255, 0.5);
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.jumbotron {
	background-image: url(../images/bg_topo.jpg);
	background-size: cover;
	background-position: center;
	padding: 0;
}
.jumbotron h1 {
	text-shadow: 2px 2px black, 0 0 black, 0 0 black, 0 0 black;
}
.jumbotron p {
	text-shadow: 1px 1px black, 0 0 black, 0 0 black, 0 0 black;
}
#menu a {
	float: left;
	display: block;
    padding: 28px 15px 25px 15px;
    color: #333333;
}
#menu a:hover {
	text-decoration: none;
}
#menu a.active {
	background: #f9f9f9;
	border-bottom: 4px solid #00919c;
}
h1, .verde {
	color: #00919c;
	font-weight: bold;
	letter-spacing: -3px;
}
#equipe strong {
	letter-spacing: -1.5px;
}
h3 {
	margin-top: 40px;
	letter-spacing: -3px;
}
.navbar {
	width: 100%;
	background-color: #ffffff;
}
#parceiros {
    margin-top: -30px;
    padding: 30px 0;
    background: url(../images/bg.jpg) repeat #000;    
}
#parceiros img {
    border-radius: 10px;
    background-color: #ffffff;
}
#sobre h2 {
	margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 800;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;	
	animation:slide-down 0.5s;
}
.mt118 {
	margin-top: 118px;
}
.testimonials .testimonial-item {
    margin-bottom: 20px;
}
.testimonial-item p {
    padding: 18px 20px 25px 20px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 0;
    border: 1px solid #ccc;
	min-height: 140px;
}
.testimonial-item p strong {
	font-size: 50px;
}
.owl-carousel .owl-item .testimonial-item img {
	width: 100px;
    float: left;
    margin: 0 18px 30px 0;
    border-radius: 50px;
}
.testimonials-arrow {
    background: url(../images/testimonials-arrow.png) no-repeat;
    width: 26px;
    height: 26px;
    margin: -1px 0 0 30px;
}
.testimonial-item .author {
    margin: 5px 0 0 0;
}
.testimonial-item .author a {
	text-decoration: none;
}

#div_menu_mobile {
	position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 75px;
    left: 0;
    padding: 20px;
    z-index: 99;	
	animation:slide-down 0.5s;
	display: none;
}
#div_menu_mobile a {
	width: 100%;
	display: block;
	color: #333333;
	text-align: right;
	padding: 10px;
}
section {
	margin-bottom: 50px;
}
section p {
	line-height: 180%;
}
.list-group-flush:first-child .list-group-item:first-child, .list-group-flush:last-child .list-group-item:last-child {
	border-top: 1px solid rgba(0,0,0,.125);
	border-bottom: 1px solid rgba(0,0,0,.125);
}
#fields form {
	width: 100%;
}
#contato h4 {
    color: #00919c;
    display: block;
    width: 100%;
}
#contato-info {
	text-align: right;
}
#contato-info .info {
	width: 100%;
    margin-bottom: 3px;
}
#contato-info .info.last {
	margin-bottom: 15px;
}
#contato-info .share-social {
	width: 100%;
}
#contato-info .share-social a {
	color: #666;
    font-size: 30px;
    margin-left: 15px;
}
#contato-info .share-social a:hover {
	color: #00919c;
}
.owl-nav {
	float: right;
	margin-top: -50px;
}
.owl-nav button {
	margin-left: 15px;
	margin-bottom: 0px;
	border: none;
    outline:none;
}
.owl-nav span {
	width: 24px;
	height: 24px;
	overflow: hidden;
	display: inline-block;
	color: #5a5c5d;
	font-size: 18px;
	text-indent: 9999px;	
}
.owl-carousel .owl-nav button.owl-prev span {
	background: url(../images/arrow.png) 0 5px no-repeat !important;
	background-size: contain !important;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.owl-carousel .owl-nav button.owl-next span {
	background: url(../images/arrow.png) 0 5px no-repeat !important;
	background-size: contain !important;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.submit {
	border: 0px;
}
footer {
	background: url(../images/bg.jpg) repeat #000;
	color: #ffffff;
}
footer a {
	display: block;
	margin-top: -50px;
}
footer p {
	padding: 10px 0;
	margin: 0;
}
footer .white {
	color: #ffffff !important;
}
.btn-inverse, .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.focus, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .open > .dropdown-toggle.btn-inverse {
    background-color: #4c5667 !important;
    border: 1px solid #4c5667 !important;
    color: #ffffff;
}
.lead {
    font-size: 1.1rem;
    font-weight: 400;
}
.parallax {
	width: 100%;
	background: url(../images/parallax.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	height: 320px;
}
.parallax > div {
	font-size: 32px;
	font-weight: 600;
	color: #FFFFFF;
	text-shadow: 2px 2px black, 0 0 black, 0 0 black, 0 0 black;
	padding-top: 50px;
	text-align: center;
}
.parallax div.assinatura {
	width: 100%;
	font-family: 'Satisfy', cursive;
	font-size: 36px;
	text-align: right;
	padding-top: 20px;
}
#carousel-parceiros {
	margin-bottom: 20px;
}

.desenvolvido {
	font-size: 10px;
    text-align: center;
    padding: 20px 0 15px;
    border-top: 1px solid #333333;
}
.desenvolvido a {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
}
.desenvolvido img {
	vertical-align: baseline;
    margin-left: 5px;
}

#contato-suspenso {
    position: fixed;
    right: 5px;
    bottom: 0;
    z-index: 999;
    cursor: pointer;
}
#contato-suspenso .header {
    width: 300px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #00919c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #ffffff;
    border-bottom: none;
}
#contato-suspenso .contato-body {
    display: none;
    width: 300px;
    padding: 0 20px;
    background-color: #ffffff;
    font-size: 12px;
}
#contato-suspenso .contato-body label {
    margin-bottom: 1px !important;
}
#contato-suspenso .contato-body .form-control, #contato-suspenso .contato-body .submit {
    font-size: 12px;
}
.form-control {
    height: auto;
}

@media (max-width : 1000px) {
	.desktop {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
	.navbar {
		padding: 10px;
	}
	.parallax {
		height: 450px;
	}
	.parallax > div {
    	font-size: 1.5rem;
    	padding-left: 20px;
    	padding-right: 20px;
    }
    .owl-nav {
    	margin-top: 0;
    }
    .desenvolvido {
    	padding-bottom: 80px;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}